p {
    margin: 0;
    padding-bottom: 5px;
    padding-left: 15px;
}

h4 {
    margin: 0;
    padding-bottom: 5px;
    font-weight: 700;
    padding-left: 7px;
}

.capturer-content {
    padding: 10px 0;
}

.capturer-top-ctn {
    border-image: linear-gradient(to right, rgba(56,111,227,0), rgba(56,111,227,0), rgba(56,111,227,1), rgba(56,111,227,1), rgba(56,111,227,0), rgba(56,111,227,0)) 20%;
}
