.plugin-ctn {
    position: absolute;
    font-family: 'Courier New';
    right: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    max-height: 100%;
    overflow-y: auto;
    scrollbar-color: #912BE5 #1E2429;
}

.plugin-ctn::-webkit-scrollbar {

    width: 10px;
    height: 10px;
}
.plugin-ctn::-webkit-scrollbar-track {
    background: #1E2429;
}
.plugin-ctn::-webkit-scrollbar-thumb {
    background: #912BE5;
}
.plugin-ctn::-webkit-scrollbar-corner {
    background: #1E2429;
}

.sections-ctn {
    color: #F5EFEE;
    border: 1px solid #1A201B;
    border-top-left-radius: 5px;
    padding-top: 0;
}

.button-pane {
    align-self: start;
    display: flex;
    flex: auto;
    flex-direction: column;
}


.toolbar-btn {
    min-width: 1.5rem;
    padding: 1px;
    cursor: pointer;
    background-color: #C3C2B7;
    color: #242422;
    border: 1px solid; 
    font-weight: 900;
    margin: 0;
}

.toolbar-btn:hover {
    background-color: #818178;
}

button:focus-visible {
    outline-style: none;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}

dialog {
    background-color: #302D27;
    color: #F5EFEE;
    border: 1px solid white;
    border-radius: 5%;
    margin: auto;
    padding: 5px;
}

.tabs-ctn {
    padding: 0;
    margin-right: 0;
    margin-left: auto;
    display: flex;
    flex: auto;
    flex-direction: column;
    border-radius: 0;
}
.tabs-header {
    background-color: #181A17;
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: space-between;
}

.tabs-header h1 {
    padding: 5px;
    font-size: 25px;
    line-height: 2rem;
    margin: 0;
    padding-left: 6px;
}

.add-btn {
    margin: 0;
    width: 42px;
    appearance: none;
    background-color: transparent;
    color: #1FAE40;
    border-style: none;
    cursor: pointer;
    font-size: 30px;
}
.add-btn:hover {
    background-color: gray;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.ng-invalid.ng-touched  {
    border-color: #D1295F;   
}

input[type=number] {
  -moz-appearance: textfield;
}

.btn {
    appearance: none;
    background-color: black;
    border-style: none;
    border: 2px solid #501FAE;
    color: #501FAE;
    border-radius: 5px;
    margin:0;
    padding: 6px;
    cursor: pointer;
    margin-left: 4px;
    font-weight: 600;
}

.btn:hover:not(:disabled) {
  background-color: #222025;
}

.btn:disabled {
    color: gray;
    border-color: gray;
    cursor: default;
}

.capturer-ctn {
    width: 200px;
    max-width: 200px;
    background-color: #454545;
    margin-bottom: 0;
}

.capturer-top-ctn {
    background-color: #262528;
    border-bottom: solid 1px;
    border-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0), rgba(255,255,255,0)) 20%;
    display: flex;
    justify-content: space-between;
    user-select: none;
    height: 52px;
}

.capturer-btn-pane {
    display: flex;
    flex-direction: column;
    background-color: #382B39;
}

.icon-btn {
    appearance: none;
    background-color: #262528;
    border-style: none;
    margin:0;
    padding: 3px;
    cursor: pointer;
    width: 26px;
    height: 26px;
}
.icon-btn:hover {
    background-color: #363437;
}

.capturer-header h1 {
    font-size: 18px;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
}

.capturer-header {
    width: auto;
    flex-grow: 1;
    cursor: pointer;
    padding: 8px;
}

.capturer-header:hover {
    background-color: #363437;
}

.txt-danger {
    color: #DA2A60;
}

.txt-warning {
    color: #DDCA28;
}

.txt-primary {
    color: #912BE5;
}

.txt-contrast {
    color: #386FE3;
}

.ogj-small-icon {
    font-size: 10px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}

dialog {
    background-color: #070707; 
    color: #F5EFEE;
    border: 1px solid #386FE3;
    border-radius: 10px;
    margin: auto;
    padding: 15px;
}

.dialog-content {
    display: flex;
    flex: auto;
    flex-direction: column;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
}

.config-hint {
    font-size: 13px;
    color: #BEBCC9;
}

input {
    margin: 15px 0;
    border: 1px solid #9494A3;
    border-radius: 4px;
    background-color: transparent;
    color: #A8A8B5;
    width: 150px;
    font-weight: 200;
    height: 30px;
}

input:focus, input:hover {
    outline-style: none;
    border-color: #F8F8F9;
}

label {
    font-weight: 600;
}
