<div class="plugin-ctn">

  <!--LEFT BUTTON PANE-->

  <div *ngIf="showWindow" class="button-pane">
    <button class="toolbar-btn" (click)="toggleWindow()" title="Hide window"><i class="fa-solid fa-chevron-right"></i></button>
    <button class="toolbar-btn" (click)="toggleTracking()" title="Enable tracking" *ngIf="!isTrackingEnabled"><i class="fa-solid fa-check"></i></button>
    <button class="toolbar-btn" (click)="toggleTracking()" title="Disable tracking" *ngIf="isTrackingEnabled"><i class="fa-solid fa-xmark"></i></button>
  </div>
  <div *ngIf="showWindow" class='sections-ctn' id="ogj-ctn">

  <!--GUILD TABS-->

    <div class="tabs-ctn">
      <div class="tabs-header txt-primary">
        <h1>Guilds</h1>
        <button class="add-btn" (click)="addGuildCapturer()" title="Add new guild capturer"><i class="fa-solid fa-plus"></i></button>
      </div>
      <captured-guilds *ngFor="let capturer of guildCapturers" (deleteCapturer)="deleteGuildCapturer($event)" [capturer]="capturer"></captured-guilds>
    </div>

  <!--PLAYER TABS-->

    <div class="tabs-ctn">
      <div class="tabs-header txt-contrast">
        <h1>Players</h1>
        <button class="add-btn" (click)="addPlayerCapturer()" title="Add new player capturer"><i class="fa-solid fa-plus"></i></button>
      </div>
      <captured-player *ngFor="let capturer of playerCapturers" (deleteCapturer)="deletePlayerCapturer($event)" [capturer]="capturer"></captured-player>
    </div>

  </div>

  <!--MINIMIZED PLUGIN VIEW-->

  <div *ngIf="!showWindow" class="button-pane">
    <button class="toolbar-btn" (click)="toggleWindow()" title="Open window"><i class="fa-solid fa-chevron-left"></i></button>
  </div>


</div>

<!--DIALOGS-->

<dialog [id]='addGuildCapturerDialogId'>
  <add-guild-capturer (onFormSave)="addGuildCapturer($event)"></add-guild-capturer>
</dialog>
<dialog [id]='addPlayerCapturerDialogId'>
  <add-player-capturer (onFormSave)="addPlayerCapturer($event)"></add-player-capturer>
</dialog>
